In [ ]:
l1 = [1, 2, 34, 59, 6, 5, 11]
print(type(l1))
l1.sort()
print(l1)

<class 'list'>
[1, 2, 5, 6, 11, 34, 59]

In [ ]:
l1 = [1, 2, 34, 59, 6, 5, 11]
#l1.sort()
#l1.reverse()
#l1.insert(3, 3333)
#print(l1.pop(4))
l1.remove(34)

print(l1)

[1, 2, 59, 6, 5, 11]

In [ ]:
# let;s go for tuples - it is immutable data types in the python

In [ ]:
a = (1, 2, 5, 6, 8)
print(type(a))

<class 'tuple'>

In [ ]:
a = (1, 45, 453, 3424, False, "Rohoni", "Satyam")
print(a)
i = a.index(3424)
print(i)

(1, 45, 453, 3424, False, 'Rohoni', 'Satyam')
3

In [ ]:
my_tuple = (1,2,3,4,5,6)
print(2 in my_tuple)

True

In [ ]:
print(8 in my_tuple)

False

In [ ]:
marks = []
f1 = int(input("Enter marks here: "))
marks.append(f1)
f2 = int(input("Enter marks here: "))
marks.append(f2)
f3 = int(input("Enter marks here: "))
marks.append(f3)
f4 = int(input("Enter marks here: "))
marks.append(f4)
f5 = int(input("Enter marks here: "))
marks.append(f5)
f6 = int(input("Enter marks here: "))
marks.append(f6)
f7 = int(input("Enter marks here: "))
marks.append(f7)
print(marks)
marks.sort()
print(marks)

Enter marks here: 34
Enter marks here: 4
Enter marks here: 34
Enter marks here: 45
Enter marks here: 45
Enter marks here: 54
Enter marks here: 55
[34, 4, 34, 45, 45, 54, 55]
[4, 34, 34, 45, 45, 54, 55]

In [ ]:
l =[34,54,23,635]
print(sum(l))

746

In [ ]:
a = [1,0,0,5,0]
n = a.count(0)
print(n)

3

In [ ]:
# Dictionary and Sets

In [ ]:
marks = {
    "Satyam": 100,
    "Tanu": 0,
    "Rohoni": 100,
}
print(marks, type(marks))

{'Satyam': 100, 'Tanu': 0, 'Rohoni': 100} <class 'dict'>

In [ ]:
print(marks["Satyam"])

100

In [ ]:
marks = {
    "Satyam": 98,
    "Tanu": 87,
    "Rohoni": 95,
}
print(marks.items())

dict_items([('Satyam', 98), ('Tanu', 87), ('Rohoni', 95)])

In [ ]:
marks = {
    "Satyam": 98,
    "Tanu": 87,
    "Rohoni": 95,
}
print(marks.keys())

dict_keys(['Satyam', 'Tanu', 'Rohoni'])

In [ ]:
marks = {
    "Satyam": 98,
    "Tanu": 87,
    "Rohoni": 95,
}
print(marks.keys())

dict_values([98, 87, 95])

In [ ]:
marks = {
    "Satyam": 98,
    "Tanu": 87,
    "Rohoni": 95,
}
marks.update({"Satyam": 100})
print(marks)

{'Satyam': 100, 'Tanu': 87, 'Rohoni': 95}

In [ ]:
marks = {
    "Satyam": 98,
    "Tanu": 87,
    "Rohoni": 95,
}
print(marks.get("Satyam")) # prints none

98

In [ ]:
print(marks["Satyam"]) # returns a error

98

In [ ]:
# Set - set is a collection ofwell defined objects/ non-repetitive elements.

In [ ]:
s = {} # Empty Dictionary

In [ ]:
print(type(s))

<class 'dict'>

In [ ]:
s = {1,3,4,55,5,55,55,7,8,9}
print(s)

{1, 3, 4, 5, 7, 8, 9, 55}

In [ ]:
# properties of sets
# sets are unordered, it is unindexed, there is no way to change items in sets, sets can'nt contain duplicate values.

In [ ]:
s1 = {1, 45, 6}
s2 = {7, 8, 1, 48}

print(s1.union(s2))
print(s1.intersection(s2))

{48, 1, 6, 7, 8, 45}
{1}

In [ ]:
words = {
    "madad": "Help",
    "Kursi": "chair",
    "Billi": "Cat"
}
word = input("Enter the word you want meaning of: ")
print(words[word])

Enter the word you want meaning of: madad
Help

In [ ]:
S = set()
n = input("Enter number : ")
S.add(int(n))
n = input("Enter number : ")
S.add(int(n))
n = input("Enter number : ")
S.add(int(n))
n = input("Enter number : ")
S.add(int(n))
n = input("Enter number : ")
S.add(int(n))
n = input("Enter number : ")
S.add(int(n))
n = input("Enter number : ")
S.add(int(n))
n = input("Enter number : ")
S.add(int(n))
n = input("Enter number 1: ")
S.add(int(n))
print(S)

Enter number : 4
Enter number : 3
Enter number : 3
Enter number : 4
Enter number : 3
Enter number : 2
Enter number : 7
Enter number : 8
Enter number 1: 6
{2, 3, 4, 6, 7, 8}

In [ ]:
s = set()
s.add(18)
s.add("18")
print(s)

{18, '18'}

In [ ]:
a = int(input("Enter your age:"))
# If Elif else ladder

if(a%2 == 0): # If statement number 1
  print("a is even")


  # If statement number 2
if(a>18):
  print("You are above the age of concent")
  print("Good for you")

elif(a<0):
  print("You are entering an invalid negative age")

elif(a==0):
  print("You are entering 0 which is not a valid age")


else:
        print("You are below the age of concent")
# End of the statement number 2

        print("End of the program")

Enter your age:45
You are above the age of concent
Good for you

In [ ]:

if(a>9):
  print("greater")
else:
  print("lesser")
a = 10

greater

In [ ]:

if(a>=18):
  print("Yes")
else:
  print("No")
  a = 19

Yes

In [ ]:
a1 = int(input("Enter number 1: "))
a2 = int(input("Enter number 2: "))
a3 = int(input("Enter number 3: "))
a4 = int(input("Enter number 4: "))
if(a1>a2 and a1>a3 and a1>a4):
  print("Greatest number is a1:", a1)

elif(a2>a1 and a2>a3 and a2>a4):
  print("Greatest number is a2:", a2)

elif(a3>a1 and a3>a2 and a2>a4):
  print("Greatest number is a3:", a3)

elif(a4>a1 and a4>a2 and a4>a3):
  print("Greatest number is a4:", a4)

Enter number 1: -1
Enter number 2: 2
Enter number 3: 10
Enter number 4: 90
Greatest number is a4: 90

In [ ]:
marks1 = int(input("Enter Marks 1: "))
marks2 = int(input("Enter Marks 2: "))
marks3 = int(input("Enter Marks 3: "))

# check for totla percentage
total_percentage = (marks1 + marks2 + marks3)/300
if(total_percentage>=40):
  print("You are pass")
else:
  print("You Failed, try again next year!")

Enter Marks 3: 67

In [ ]:
p1 = "Make a lot of Money"
p2 = "buy now"
p3 = "subscribe this"
p4 = "click this"

message = input("Enter your comment: ")
if((p1 in message) or (p2 in message) or (p3 in message) or (p4 in message)):
  print("This comment is spam")

else:
  print("This comment is not a spam")

Enter your comment: ice video click this
This comment is spam

In [ ]:
username = input("Enter your username: ")
if(len(username) <10):
  print("Your username contains less than 10 characters")
else:
  print("All is well!")

Enter your username: Satyam
Your username contains less than 10 characters

In [ ]:
l = ["Satyam", "Tripathi", "Shubham", "Divya"]
name = input("Enter your name: ")

if(name in l):
  print("Your name in the list")

else:
  print("Your name is not the list")

Enter your name: Satyam
Your name in the list

In [ ]:
marks = int(input("Enter your marks: "))

if(marks<=100 and marks>=90):
  grade = "Ex"
elif(marks<90 and marks>=80):
  grade = "A"
elif(marks<80 and marks>=70):
  grade = "B"
elif(marks<70 and marks>=60):
  grade = "C"
elif(marks<60 and marks>=50):
  grade = "D"
elif(marks<50):
  grade = "F"

print("Your grade is:", grade)

Enter your marks: 99
Your grade is: Ex

In [ ]:
post = input("enter the post: ")

if("Satyam".lower() in post.lower()):
  print("This post is talking about Satyam")

else:
  print("This post is not talking about Satyam")

enter the post: SATyam is good
This post is talking about Satyam

In [ ]:
# talking about loops  # the same task can be done like this.

In [ ]:
for i in range (1, 6):
  print(i)

1
2
3
4
5

In [ ]:
# while loop - the block keeps executing until the condition is true # body of the loop

In [ ]:
i = 1
while(i<51):
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
i = 0
while i < 5:
  print("Satyam")
  i = i + 1

Satyam
Satyam
Satyam
Satyam
Satyam

In [ ]:
l = [1, "Satyam", False, "This", "Rohan", "Shubham"]
i = 0
while (i < len(l)):
    print(l[i])
    i += 1

1
Satyam
False
This
Rohan
Shubham

In [ ]:
## for loop with lists
l = [1,4,6,243,972,75]
for i in l:
  print(i)

1
4
6
243
972
75

In [ ]:
## for loop with tuples
t = [6,231,947,57]
for i in t:
  print(i)

6
231
947
57

In [ ]:
## for loop with strings
s = "Satyam"
for i in s:
  print(i)

S
a
t
y
a
m

In [ ]:
## Range function in python is used to generate a sequence of number.

In [ ]:
for i in range(0,7):
  print(i)

0
1
2
3
4
5
6

In [ ]:
## for loop with else

In [ ]:
l = [1,7,8]
for item in l:
  print(item)
else:
  print("done") # this is printed when the loop exhausted

1
7
8
done

In [ ]:
# break and continue

In [ ]:
for i in range(100):
  if(i == 34):
    break # exit the loop right now
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

In [ ]:
for i in range(100):
  if(i == 34):
    continue # skip the iteration
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
for i in range(645):
  pass

i = 0
while(i<45):
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44

In [ ]:
n = int(input("Enter a number: "))

for i in range(1,11):
  print(f"{n} x {i} = {n * i}")

Enter a number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
l = ["Satyam", "Sohan", "Rahul", "Lucky", "Akash"]

for name in l:
  if(name.startswith("S")):
    print(f"{name}")

Satyam
Sohan

In [ ]:
n = int(input("Enter a number: "))

i  = 1
while(i<11):
  print(f"{n} x {i} = {n * i}")
  i += 1

Enter a number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
# finding prime number

In [ ]:
n = int(input("Enter a number: "))
for i in range(2,n):
  if(n%i == 0):
    print("Number is not a prime")
    break
else:
  print("Number is prime")

Enter a number: 5
Number is prime

In [ ]:
n = int(input("Enter the number: "))
i = 1
sum = 0
while(i<=n):
  sum += i
  i += 1
print(sum)

Enter the number: 5
15

In [ ]:
# 5! = 1x2x3x4x5 Factorial

In [ ]:
n = int(input("Enter the number: "))
product = 1
for i in range(1,n+1):
  product = product * i
print(f"The factorial of{n} is {product}")

Enter the number: 5
The factorial of5 is 120

In [ ]:
'''
for n = 3
  *
 ***
*****

'''

' \nfor n = 3\n  *\n ***\n*****\n\n'

In [ ]:
n = int(input("Enter the number: "))
for i in range(1,n+1):
  print(" "* (n-i))
  print("*"* i)

Enter the number: 5

*

**

***

****

*****

In [ ]:
n = int(input("Enter the number: "))
for i in range(1,11):
  print(f"{n} x {11-i} = {n*(11-i)}")

Enter the number: 5
5 x 10 = 50
5 x 9 = 45
5 x 8 = 40
5 x 7 = 35
5 x 6 = 30
5 x 5 = 25
5 x 4 = 20
5 x 3 = 15
5 x 2 = 10
5 x 1 = 5

In [ ]:
n = int(input("Enter the number: "))
for i in range(1,11):
  print(f"{n} x {i} = {n*(i)}")

Enter the number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# functions and recursions - A function is a group of statements performing a specific task.

In [ ]:
a = 12
b = 45
c = 56
average = (a+b+c)/3
print(average)
a = 3
b = 2
c = 1

37.666666666666664

In [ ]:
def avg():
  a = int(input("Enter your number: "))
  b = int(input("Enter your number: "))
  c = int(input("Enter your number: "))

  average = (a+b+c)/3
  print(average)

avg()
avg()
avg()
avg()

Enter your number: 6
Enter your number: 6
Enter your number: 7
6.333333333333333
Enter your number: 8
Enter your number: 9
Enter your number: 10
9.0
Enter your number: 5
Enter your number: 6
Enter your number: 7
6.0
Enter your number: 6
Enter your number: 7
Enter your number: 8
7.0

In [ ]:
# Function call

In [ ]:
def fun1():
  print("Hello")

In [ ]:
def goodDay():
  print("Good Day")
goodDay()

Good Day

In [ ]:
# Types of function- Built in function
# user defined function

In [ ]:
# function with arguments

In [ ]:
def goodDay(name):
  print("Good Day, " + name)

goodDay("Satyam")
goodDay("Tripathi")

Good Day, Satyam
Good Day, Tripathi

In [ ]:
def goodDay(name, ending):
  print("Good Day, " + name)
  print(ending)


goodDay("Satyam", "Thank you")
goodDay("Tripathi", "Thanks")

Good Day, Satyam
Thank you
Good Day, Tripathi
Thanks

In [ ]:
def greet(name):
  gr = "Hello" + name
  return gr

a = greet("Satyam")
print(a)
# a will now contain " Hello Satyam "

HelloSatyam

In [ ]:
# default argument

In [ ]:
def goodDay(name, ending = "Thank you"):
  print(f"Good Day, {name}")
  print(ending)


goodDay("Satyam")

Good Day, Satyam
Thank you

In [ ]:
# Recursion- IT is a function which calls itself.

In [ ]:
def factorial(n):
  if (n == 1 or n ==0):
    return 1
  return n * factorial(n-1)
n = int(input("Enter the number: "))
print(f" The factorial of this number is :{factorial(n)}")

Enter the number: 4
 The factorial of this number is :24

In [ ]:
def greatest (a, b, c):
  if (a>b and a>c):
    return a
  elif(b>a and b>c):
    return b
  else: # This handles the case where c is the greatest or equal, or if some are equal
    return c

# The lines `a = 1`, `b = 2`, `c = 3` were misplaced inside the function's body
# after the return statements, making them unreachable. The error occurred
# because the global variables `a` (string), `b` (int), `c` (int) were passed
# to the function, leading to a type mismatch in comparison.
# We now call the function with appropriate integer values directly.
print(greatest(1, 2, 3))

3

In [ ]:

def f_to_c(f):
  return 5*(f-32)/9


f= int(input("Enter temperature in F: "))
c= f_to_c(f)
print(f"{round(c,2)} C")

Enter temperature in F: 100
37.78 C

In [ ]:
print("a")
print("b")
print("c", end = " ")
print("d", end = " ")

a
b
c d

In [ ]:
# recursion

In [ ]:
def sum(n):
  if(n==1):
    return 1
  return sum(n-1) + n

print(sum(4))

10

In [ ]:
def pattern(n):
  if(n == 0):
    return
  print("*" * n)
  pattern(n-1)

pattern(5)

*****
****
***
**
*

In [ ]:
# write a program to convert inches to centimeter.

In [ ]:
def inch_to_cms(inch):
  return inch * 2.54

n = int(input("Enter value in inches: "))

print(f"The Corresponding value in cms is {inch_to_cms(n)}")

Enter value in inches: 10
The Corresponding value in cms is 25.4

In [ ]:
# write a python program to remove a given word from a list ad strip it at the same time.

In [ ]:

def rem(l, word):
  n = []

  for item in l:
      if not(item == word):
        n.append(item.strip(word))
  return n

l = ["Satyam", "Shubham", "Rohan", "an"]


print(rem(l, "an"))

['Satyam', 'Shubham', 'Roh']

In [ ]:
# write a python function to print multiplication table of a given number.

In [ ]:
def multiply(n):
  for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

multiply(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Let's Start a project with is related to python programming.

In [ ]:
'''
1 for snake
-1 for water
0 for gun
'''
computer = -1
youstr = input("Enter your choice: ")
youDict = {"s": 1, "w": -1, "g": 0}
you = youDict[youstr]

if(computer == you):
  print("It's a draw")

else:
    if(computer == -1 and you == 1):
       print("you win!")

    elif(computer == -1 and you == 0):
      print("you loose!")

    elif(computer == 1 and you == -1):
      print("you loose!")

    elif(computer == 1 and you == 0):
      print("you win!" )

    elif(computer == 0 and you == -1):
      print("you win!")

    elif(computer == 0 and you == 1):
      print("you loose!" )


    else:
     print("Something is went wrong!")

Enter your choice: g
you loose!

In [ ]:
'''
1 for snake
-1 for water
0 for gun
'''
import random

computer = random.choice([1, -1, 0]) # Making computer's choice random for a proper game
youstr = input("Enter your choice (s, w, g): ")
youDict = {"s": 1, "w": -1, "g": 0}
reverseDict = {1: "snake", -1: "water", 0: "gun"} # Define reverseDict

# Validate user input
if youstr not in youDict:
    print("Invalid choice. Please choose 's' for snake, 'w' for water, or 'g' for gun.")
else:
    you = youDict[youstr]

    # By now we have 2 numbers (variables), you and computer

    print(f"You chose {reverseDict[you]}\nComputer chose {reverseDict[computer]} ")

    if computer == you:
        print("It's a draw")
    else:
        # Conditions where 'you' lose based on the game logic:
        # Computer Water (-1) vs You Gun (0) => computer - you = -1
        # Computer Snake (1) vs You Water (-1) => computer - you = 2
        # Computer Gun (0) vs You Snake (1) => computer - you = -1
        if (computer - you == -1) or (computer - you == 2):
            print("You lose")
        else: # If it's not a draw and you don't lose, then you must win
            print("You win")

Enter your choice (s, w, g): w
You chose water
Computer chose snake
You lose

In [ ]:
# New files

In [ ]:
'''
a = "a very long strings with emails"
emails = []
3 seconds
'''

'\na = "a very long strings with emails"\nemails = []\n3 seconds\n'